{
  "openapi": "3.1.0",
  "info": {
    "title": "i10 API",
    "version": "0.0.0",
    "description": "Transactional email. The document is generated from the same Zod schemas the server validates with and the SDKs are built from, so it cannot drift from the implementation."
  },
  "servers": [
    {
      "url": "https://api.i10.tech",
      "description": "Production"
    }
  ],
  "tags": [
    {
      "name": "Emails",
      "description": "Sending mail."
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Your i10 API key. Keys are prefixed `i10_live_` or `i10_test_` so they are recognisable in your own logs and greppable in a leak scan."
      },
      "sessionAuth": {
        "type": "apiKey",
        "in": "cookie",
        "name": "__session",
        "description": "The Clerk session cookie set when you sign in at auth.i10.tech. Used by the console for mailbox management; it is not an alternative to an API key, and the sending endpoints do not accept it."
      }
    },
    "schemas": {
      "SendEmailResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          }
        },
        "required": [
          "id"
        ]
      },
      "Error": {
        "type": "object",
        "properties": {
          "statusCode": {
            "type": "integer"
          },
          "name": {
            "type": "string",
            "enum": [
              "validation_error",
              "missing_required_field",
              "invalid_access",
              "not_found",
              "method_not_allowed",
              "rate_limit_exceeded",
              "daily_quota_exceeded",
              "monthly_quota_exceeded",
              "invalid_from_address",
              "invalid_to_address",
              "domain_not_verified",
              "idempotency_conflict",
              "domain_already_exists",
              "domain_already_claimed",
              "plan_limit_exceeded",
              "password_required",
              "mailbox_already_exists",
              "restricted_api_key",
              "confirmation_required",
              "sending_paused",
              "sending_held",
              "template_already_submitted",
              "internal_server_error"
            ]
          },
          "message": {
            "type": "string"
          }
        },
        "required": [
          "statusCode",
          "name",
          "message"
        ]
      },
      "SendEmail": {
        "type": "object",
        "properties": {
          "from": {
            "type": "string",
            "minLength": 3,
            "maxLength": 320
          },
          "to": {
            "anyOf": [
              {
                "type": "string",
                "minLength": 3,
                "maxLength": 320
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "minLength": 3,
                  "maxLength": 320
                },
                "minItems": 1,
                "maxItems": 50
              }
            ]
          },
          "subject": {
            "type": "string"
          },
          "bcc": {
            "anyOf": [
              {
                "type": "string",
                "minLength": 3,
                "maxLength": 320
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "minLength": 3,
                  "maxLength": 320
                },
                "minItems": 1,
                "maxItems": 50
              }
            ]
          },
          "cc": {
            "anyOf": [
              {
                "type": "string",
                "minLength": 3,
                "maxLength": 320
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "minLength": 3,
                  "maxLength": 320
                },
                "minItems": 1,
                "maxItems": 50
              }
            ]
          },
          "reply_to": {
            "anyOf": [
              {
                "type": "string",
                "minLength": 3,
                "maxLength": 320
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "minLength": 3,
                  "maxLength": 320
                },
                "minItems": 1,
                "maxItems": 50
              }
            ]
          },
          "html": {
            "type": "string",
            "maxLength": 5242880
          },
          "text": {
            "type": "string",
            "maxLength": 5242880
          },
          "template": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "minLength": 1,
                "maxLength": 200
              },
              "version": {
                "type": "integer",
                "exclusiveMinimum": 0
              },
              "variables": {
                "type": "object",
                "additionalProperties": {}
              }
            },
            "required": [
              "id"
            ]
          },
          "headers": {
            "type": "object",
            "additionalProperties": {
              "type": "string",
              "maxLength": 998
            }
          },
          "attachments": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "filename": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 255,
                  "pattern": "^[^\\r\\n\"]+$"
                },
                "content": {
                  "type": "string"
                },
                "path": {
                  "type": "string",
                  "format": "uri"
                },
                "content_type": {
                  "type": "string",
                  "maxLength": 255
                },
                "content_id": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 255,
                  "pattern": "^[^\\s<>\"]+$"
                }
              },
              "required": [
                "filename"
              ]
            },
            "maxItems": 490
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "pattern": "^[A-Za-z0-9_-]{1,256}$"
                },
                "value": {
                  "type": "string",
                  "pattern": "^[A-Za-z0-9_-]{1,256}$"
                }
              },
              "required": [
                "name",
                "value"
              ]
            }
          },
          "scheduled_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "to"
        ]
      },
      "BatchSendResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "required": [
                "id"
              ]
            }
          }
        },
        "required": [
          "data"
        ]
      },
      "BatchSend": {
        "type": "array",
        "items": {
          "type": "object",
          "properties": {
            "from": {
              "type": "string",
              "minLength": 3,
              "maxLength": 320
            },
            "to": {
              "anyOf": [
                {
                  "type": "string",
                  "minLength": 3,
                  "maxLength": 320
                },
                {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "minLength": 3,
                    "maxLength": 320
                  },
                  "minItems": 1,
                  "maxItems": 50
                }
              ]
            },
            "subject": {
              "type": "string"
            },
            "bcc": {
              "anyOf": [
                {
                  "type": "string",
                  "minLength": 3,
                  "maxLength": 320
                },
                {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "minLength": 3,
                    "maxLength": 320
                  },
                  "minItems": 1,
                  "maxItems": 50
                }
              ]
            },
            "cc": {
              "anyOf": [
                {
                  "type": "string",
                  "minLength": 3,
                  "maxLength": 320
                },
                {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "minLength": 3,
                    "maxLength": 320
                  },
                  "minItems": 1,
                  "maxItems": 50
                }
              ]
            },
            "reply_to": {
              "anyOf": [
                {
                  "type": "string",
                  "minLength": 3,
                  "maxLength": 320
                },
                {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "minLength": 3,
                    "maxLength": 320
                  },
                  "minItems": 1,
                  "maxItems": 50
                }
              ]
            },
            "html": {
              "type": "string",
              "maxLength": 5242880
            },
            "text": {
              "type": "string",
              "maxLength": 5242880
            },
            "template": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 200
                },
                "version": {
                  "type": "integer",
                  "exclusiveMinimum": 0
                },
                "variables": {
                  "type": "object",
                  "additionalProperties": {}
                }
              },
              "required": [
                "id"
              ]
            },
            "headers": {
              "type": "object",
              "additionalProperties": {
                "type": "string",
                "maxLength": 998
              }
            },
            "attachments": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "filename": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 255,
                    "pattern": "^[^\\r\\n\"]+$"
                  },
                  "content": {
                    "type": "string"
                  },
                  "path": {
                    "type": "string",
                    "format": "uri"
                  },
                  "content_type": {
                    "type": "string",
                    "maxLength": 255
                  },
                  "content_id": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 255,
                    "pattern": "^[^\\s<>\"]+$"
                  }
                },
                "required": [
                  "filename"
                ]
              },
              "maxItems": 490
            },
            "tags": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "pattern": "^[A-Za-z0-9_-]{1,256}$"
                  },
                  "value": {
                    "type": "string",
                    "pattern": "^[A-Za-z0-9_-]{1,256}$"
                  }
                },
                "required": [
                  "name",
                  "value"
                ]
              }
            },
            "scheduled_at": {
              "type": "string",
              "format": "date-time"
            }
          },
          "required": [
            "to"
          ]
        },
        "minItems": 1,
        "maxItems": 100
      },
      "Email": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "email"
            ]
          },
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "from": {
            "type": "string"
          },
          "to": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "cc": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "bcc": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "reply_to": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "subject": {
            "type": "string"
          },
          "html": {
            "type": [
              "string",
              "null"
            ]
          },
          "text": {
            "type": [
              "string",
              "null"
            ]
          },
          "created_at": {
            "type": "string"
          },
          "scheduled_at": {
            "type": [
              "string",
              "null"
            ]
          },
          "last_event": {
            "type": "string",
            "enum": [
              "queued",
              "scheduled",
              "sending",
              "sent",
              "delivered",
              "delivery_delayed",
              "opened",
              "clicked",
              "unsubscribed",
              "bounced",
              "complained",
              "failed",
              "canceled"
            ]
          }
        },
        "required": [
          "object",
          "id",
          "from",
          "to",
          "cc",
          "bcc",
          "reply_to",
          "subject",
          "html",
          "text",
          "created_at",
          "scheduled_at",
          "last_event"
        ]
      },
      "WebhookEndpointWithSecret": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "webhook_endpoint"
            ]
          },
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "events": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "email.sent",
                "email.delivered",
                "email.delivery_delayed",
                "email.bounced",
                "email.complained",
                "email.failed",
                "email.opened",
                "email.clicked",
                "email.unsubscribed"
              ]
            }
          },
          "description": {
            "type": [
              "string",
              "null"
            ]
          },
          "enabled": {
            "type": "boolean"
          },
          "created_at": {
            "type": "string"
          },
          "signature_scheme": {
            "type": "string",
            "enum": [
              "hmac_sha256",
              "ed25519"
            ]
          },
          "public_key": {
            "type": [
              "string",
              "null"
            ]
          },
          "previous_secrets": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "signature_scheme": {
                  "type": "string",
                  "enum": [
                    "hmac_sha256",
                    "ed25519"
                  ]
                },
                "expires_at": {
                  "type": "string"
                }
              },
              "required": [
                "signature_scheme",
                "expires_at"
              ]
            }
          },
          "secret": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "object",
          "id",
          "url",
          "events",
          "description",
          "enabled",
          "created_at",
          "signature_scheme",
          "public_key",
          "previous_secrets",
          "secret"
        ]
      },
      "CreateWebhookEndpoint": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "format": "uri"
          },
          "events": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "email.sent",
                "email.delivered",
                "email.delivery_delayed",
                "email.bounced",
                "email.complained",
                "email.failed",
                "email.opened",
                "email.clicked",
                "email.unsubscribed"
              ]
            },
            "minItems": 1
          },
          "description": {
            "type": "string",
            "maxLength": 255
          },
          "signature_scheme": {
            "type": "string",
            "enum": [
              "hmac_sha256",
              "ed25519"
            ]
          }
        },
        "required": [
          "url",
          "events"
        ]
      },
      "WebhookEndpointList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "object": {
                  "type": "string",
                  "enum": [
                    "webhook_endpoint"
                  ]
                },
                "id": {
                  "type": "string",
                  "format": "uuid"
                },
                "url": {
                  "type": "string",
                  "format": "uri"
                },
                "events": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "enum": [
                      "email.sent",
                      "email.delivered",
                      "email.delivery_delayed",
                      "email.bounced",
                      "email.complained",
                      "email.failed",
                      "email.opened",
                      "email.clicked",
                      "email.unsubscribed"
                    ]
                  }
                },
                "description": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "enabled": {
                  "type": "boolean"
                },
                "created_at": {
                  "type": "string"
                },
                "signature_scheme": {
                  "type": "string",
                  "enum": [
                    "hmac_sha256",
                    "ed25519"
                  ]
                },
                "public_key": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "previous_secrets": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "signature_scheme": {
                        "type": "string",
                        "enum": [
                          "hmac_sha256",
                          "ed25519"
                        ]
                      },
                      "expires_at": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "signature_scheme",
                      "expires_at"
                    ]
                  }
                }
              },
              "required": [
                "object",
                "id",
                "url",
                "events",
                "description",
                "enabled",
                "created_at",
                "signature_scheme",
                "public_key",
                "previous_secrets"
              ]
            }
          }
        },
        "required": [
          "data"
        ]
      },
      "RotateWebhookSecret": {
        "type": "object",
        "properties": {
          "previous_secret": {
            "type": "string",
            "enum": [
              "revoke",
              "expire"
            ]
          },
          "expires_in": {
            "type": "integer",
            "minimum": 60,
            "maximum": 259200
          },
          "signature_scheme": {
            "type": "string",
            "enum": [
              "hmac_sha256",
              "ed25519"
            ]
          }
        },
        "required": [
          "previous_secret"
        ]
      },
      "SuppressionList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "object": {
                  "type": "string",
                  "enum": [
                    "suppression"
                  ]
                },
                "address": {
                  "type": "string"
                },
                "reason": {
                  "type": "string",
                  "enum": [
                    "hard_bounce",
                    "complaint",
                    "manual",
                    "unsubscribe"
                  ]
                },
                "message_id": {
                  "type": [
                    "string",
                    "null"
                  ],
                  "format": "uuid"
                },
                "created_at": {
                  "type": "string"
                }
              },
              "required": [
                "object",
                "address",
                "reason",
                "message_id",
                "created_at"
              ]
            }
          },
          "next_cursor": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "data",
          "next_cursor"
        ]
      },
      "CreateSuppression": {
        "type": "object",
        "properties": {
          "address": {
            "type": "string",
            "maxLength": 320,
            "pattern": ".@."
          }
        },
        "required": [
          "address"
        ]
      },
      "TrustedTemplateList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "object": {
                  "type": "string",
                  "enum": [
                    "trusted_template"
                  ]
                },
                "id": {
                  "type": "string",
                  "format": "uuid"
                },
                "name": {
                  "type": "string"
                },
                "status": {
                  "type": "string",
                  "enum": [
                    "pending",
                    "approved",
                    "rejected",
                    "revoked",
                    "withdrawn"
                  ]
                },
                "html": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "text": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "holes": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string"
                      },
                      "max": {
                        "type": "integer"
                      }
                    },
                    "required": [
                      "name",
                      "max"
                    ]
                  }
                },
                "matched": {
                  "type": "integer"
                },
                "submitted_at": {
                  "type": "string"
                },
                "decided_at": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "decision_reason": {
                  "type": [
                    "string",
                    "null"
                  ]
                }
              },
              "required": [
                "object",
                "id",
                "name",
                "status",
                "html",
                "text",
                "holes",
                "matched",
                "submitted_at",
                "decided_at",
                "decision_reason"
              ]
            }
          }
        },
        "required": [
          "data"
        ]
      },
      "CreateTrustedTemplate": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 100
          },
          "html": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 200000
          },
          "text": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 200000
          },
          "holes": {
            "type": "object",
            "additionalProperties": {
              "type": "integer",
              "minimum": 1,
              "maximum": 1000
            }
          }
        },
        "required": [
          "name"
        ]
      },
      "Domain": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "domain"
            ]
          },
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "not_started",
              "pending",
              "verified",
              "failed",
              "temporary_failure"
            ]
          },
          "created_at": {
            "type": "string"
          },
          "region": {
            "type": "string"
          },
          "records": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "record": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "type": {
                  "type": "string",
                  "enum": [
                    "MX",
                    "TXT",
                    "CNAME",
                    "NS"
                  ]
                },
                "ttl": {
                  "type": "string"
                },
                "status": {
                  "type": "string",
                  "enum": [
                    "not_started",
                    "pending",
                    "verified",
                    "failed",
                    "temporary_failure"
                  ]
                },
                "value": {
                  "type": "string"
                },
                "priority": {
                  "type": "integer"
                }
              },
              "required": [
                "record",
                "name",
                "type",
                "ttl",
                "status",
                "value"
              ]
            }
          },
          "delegated": {
            "type": "boolean"
          },
          "open_tracking": {
            "type": "boolean"
          },
          "click_tracking": {
            "type": "boolean"
          }
        },
        "required": [
          "object",
          "id",
          "name",
          "status",
          "created_at",
          "region",
          "records",
          "delegated",
          "open_tracking",
          "click_tracking"
        ]
      },
      "CreateDomain": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 253
          },
          "custom_return_path": {
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-z0-9]([a-z0-9-]*[a-z0-9])?$/i"
          },
          "region": {
            "type": "string"
          },
          "delegated": {
            "type": "boolean"
          }
        },
        "required": [
          "name"
        ]
      },
      "DomainList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "object": {
                  "type": "string",
                  "enum": [
                    "domain"
                  ]
                },
                "id": {
                  "type": "string",
                  "format": "uuid"
                },
                "name": {
                  "type": "string"
                },
                "status": {
                  "type": "string",
                  "enum": [
                    "not_started",
                    "pending",
                    "verified",
                    "failed",
                    "temporary_failure"
                  ]
                },
                "created_at": {
                  "type": "string"
                },
                "region": {
                  "type": "string"
                },
                "delegated": {
                  "type": "boolean"
                }
              },
              "required": [
                "object",
                "id",
                "name",
                "status",
                "created_at",
                "region",
                "delegated"
              ]
            }
          }
        },
        "required": [
          "data"
        ]
      },
      "UpdateDomain": {
        "type": "object",
        "properties": {
          "open_tracking": {
            "type": "boolean"
          },
          "click_tracking": {
            "type": "boolean"
          }
        }
      },
      "DeletedDomain": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "domain"
            ]
          },
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "deleted": {
            "type": "boolean",
            "enum": [
              true
            ]
          }
        },
        "required": [
          "object",
          "id",
          "deleted"
        ]
      },
      "Mailbox": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "mailbox"
            ]
          },
          "address": {
            "type": "string"
          },
          "display_name": {
            "type": [
              "string",
              "null"
            ]
          },
          "active": {
            "type": "boolean"
          },
          "created_at": {
            "type": "string"
          }
        },
        "required": [
          "object",
          "address",
          "display_name",
          "active",
          "created_at"
        ]
      },
      "CreateMailbox": {
        "type": "object",
        "properties": {
          "address": {
            "type": "string",
            "minLength": 3,
            "maxLength": 254
          },
          "display_name": {
            "type": "string",
            "maxLength": 255
          }
        },
        "required": [
          "address"
        ]
      },
      "MailboxList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "object": {
                  "type": "string",
                  "enum": [
                    "mailbox"
                  ]
                },
                "address": {
                  "type": "string"
                },
                "display_name": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "active": {
                  "type": "boolean"
                },
                "created_at": {
                  "type": "string"
                }
              },
              "required": [
                "object",
                "address",
                "display_name",
                "active",
                "created_at"
              ]
            }
          }
        },
        "required": [
          "data"
        ]
      }
    },
    "parameters": {}
  },
  "paths": {
    "/emails": {
      "post": {
        "summary": "Send an email",
        "description": "Queues a single message and returns its id immediately. The id is minted in the same transaction as the caller's own work, so a rollback never sends.",
        "tags": [
          "Emails"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendEmail"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The message was accepted.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SendEmailResponse"
                }
              }
            }
          },
          "401": {
            "description": "The API key is missing, malformed, or unknown.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "This key is restricted to other domains than the `from` address.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "The `template` named does not exist, or has no such version.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "This Idempotency-Key was already used with a different request body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "The request body failed validation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Sending too fast, or the daily quota is exhausted.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "501": {
            "description": "The send path is not configured.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/emails/batch": {
      "post": {
        "summary": "Send up to 100 emails",
        "description": "One response id per element, in the order submitted.",
        "tags": [
          "Emails"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchSend"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Every message was accepted.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchSendResponse"
                }
              }
            }
          },
          "401": {
            "description": "The API key is missing, malformed, or unknown.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "This key is restricted to other domains than the `from` address.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "The `template` named does not exist, or has no such version.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "This Idempotency-Key was already used with a different request body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "The request body failed validation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Sending too fast, or the daily quota is exhausted.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "501": {
            "description": "The send path is not configured.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/emails/{id}": {
      "get": {
        "summary": "Retrieve an email",
        "description": "The message as it was accepted, and how far it has got. `last_event` is the furthest state reached, so a bounce is visible even though the message was accepted successfully.",
        "tags": [
          "Emails"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "The message.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Email"
                }
              }
            }
          },
          "401": {
            "description": "The API key is missing, malformed, or unknown.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "No such message for this API key's tenant.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "`id` is not a uuid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "501": {
            "description": "The send path is not configured.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/webhook-endpoints": {
      "post": {
        "summary": "Create a webhook endpoint",
        "description": "Registers an https URL to receive events. The signing secret is returned here and never again - store it before you discard the response.",
        "tags": [
          "Webhooks"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateWebhookEndpoint"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created. `secret` is shown only in this response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookEndpointWithSecret"
                }
              }
            }
          },
          "401": {
            "description": "The API key is missing, malformed, or unknown.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "The URL or the event list is not acceptable.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "501": {
            "description": "Webhook endpoints are not configured.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "List webhook endpoints",
        "tags": [
          "Webhooks"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Every endpoint for this tenant. Secrets are never included.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookEndpointList"
                }
              }
            }
          },
          "401": {
            "description": "The API key is missing, malformed, or unknown.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "501": {
            "description": "Webhook endpoints are not configured.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/webhook-endpoints/{id}": {
      "delete": {
        "summary": "Delete a webhook endpoint",
        "description": "Deletes the endpoint and every delivery recorded against it. Pending deliveries stop; already-sent ones are not recalled.",
        "tags": [
          "Webhooks"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "enum": [
                        "webhook_endpoint"
                      ]
                    },
                    "id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "deleted": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    }
                  },
                  "required": [
                    "object",
                    "id",
                    "deleted"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "The API key is missing, malformed, or unknown.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "No such endpoint for this API key's tenant.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "501": {
            "description": "Webhook endpoints are not configured.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/webhook-endpoints/{id}/rotate-secret": {
      "post": {
        "summary": "Rotate a webhook signing secret",
        "description": "Issues a new signing key and returns its secret once. You choose what happens to the key it replaces: `previous_secret: \"revoke\"` stops it immediately; `previous_secret: \"expire\"` with `expires_in` (60 to 259200 seconds, which is 72 hours) keeps it signing alongside the new one so you can deploy the new secret first. While both are live, every webhook carries one signature per key. At most 3 keys are live at once. Pass `signature_scheme` to switch between HMAC and Ed25519.",
        "tags": [
          "Webhooks"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RotateWebhookSecret"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Rotated. `secret` is shown only in this response (null for Ed25519, which you verify with `public_key`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookEndpointWithSecret"
                }
              }
            }
          },
          "401": {
            "description": "The API key is missing, malformed, or unknown.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "No such endpoint for this API key's tenant.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "No choice for the previous secret, an `expires_in` out of range, or too many live keys.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "501": {
            "description": "Webhook endpoints are not configured.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/webhook-endpoints/{id}/revoke-previous-secrets": {
      "post": {
        "summary": "Revoke previous webhook signing secrets",
        "description": "Ends every grace period chosen at rotation, now. From this request on, only the current key signs. Use it when a previous secret may have leaked.",
        "tags": [
          "Webhooks"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Revoked. `previous_secrets` is now empty.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "enum": [
                        "webhook_endpoint"
                      ]
                    },
                    "id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "url": {
                      "type": "string",
                      "format": "uri"
                    },
                    "events": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "enum": [
                          "email.sent",
                          "email.delivered",
                          "email.delivery_delayed",
                          "email.bounced",
                          "email.complained",
                          "email.failed",
                          "email.opened",
                          "email.clicked",
                          "email.unsubscribed"
                        ]
                      }
                    },
                    "description": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "enabled": {
                      "type": "boolean"
                    },
                    "created_at": {
                      "type": "string"
                    },
                    "signature_scheme": {
                      "type": "string",
                      "enum": [
                        "hmac_sha256",
                        "ed25519"
                      ]
                    },
                    "public_key": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "previous_secrets": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "signature_scheme": {
                            "type": "string",
                            "enum": [
                              "hmac_sha256",
                              "ed25519"
                            ]
                          },
                          "expires_at": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "signature_scheme",
                          "expires_at"
                        ]
                      }
                    }
                  },
                  "required": [
                    "object",
                    "id",
                    "url",
                    "events",
                    "description",
                    "enabled",
                    "created_at",
                    "signature_scheme",
                    "public_key",
                    "previous_secrets"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "The API key is missing, malformed, or unknown.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "No such endpoint for this API key's tenant.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "501": {
            "description": "Webhook endpoints are not configured.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/suppressions": {
      "get": {
        "tags": [
          "Suppressions"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "List suppressed addresses",
        "description": "Newest first. Addresses here are skipped at send, whichever domain the message is from.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "maxLength": 200
            },
            "required": false,
            "name": "search",
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "cursor",
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200
            },
            "required": false,
            "name": "limit",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "A page of the list.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuppressionList"
                }
              }
            }
          },
          "401": {
            "description": "The API key is missing, malformed, or unknown.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The key is restricted to a domain.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "501": {
            "description": "Suppressions are not configured.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Suppressions"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Suppress an address",
        "description": "Idempotent: suppressing an address that already is changes nothing.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSuppression"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Suppressed.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "address": {
                      "type": "string"
                    },
                    "suppressed": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    }
                  },
                  "required": [
                    "address",
                    "suppressed"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "The API key is missing, malformed, or unknown.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The key is restricted to a domain.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "The address is not acceptable.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "501": {
            "description": "Suppressions are not configured.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/suppressions/{address}": {
      "delete": {
        "tags": [
          "Suppressions"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Remove a suppressed address",
        "description": "Mail to the address is sent again. If it bounces or complains again it is suppressed again automatically. ⚠ An address suppressed for a complaint needs `confirm=complaint`: its recipient marked your mail as spam.",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "address",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "complaint"
              ]
            },
            "required": false,
            "name": "confirm",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Removed, here and at our sending provider.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "enum": [
                        "suppression"
                      ]
                    },
                    "address": {
                      "type": "string"
                    },
                    "deleted": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    }
                  },
                  "required": [
                    "object",
                    "address",
                    "deleted"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "The API key is missing, malformed, or unknown.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The key is restricted to a domain.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "The address is not suppressed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "The address complained; repeat with `confirm=complaint`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "501": {
            "description": "Suppressions are not configured.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Our sending provider could not be updated; nothing changed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/trusted-templates": {
      "get": {
        "tags": [
          "Trusted templates"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "List submitted templates",
        "description": "Newest first, whatever their status.",
        "responses": {
          "200": {
            "description": "The workspace's submissions.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrustedTemplateList"
                }
              }
            }
          },
          "401": {
            "description": "The API key is missing, malformed, or unknown.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The key is restricted to a domain.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "501": {
            "description": "Trusted templates are not configured.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Trusted templates"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Submit a template for review",
        "description": "Send the body exactly as you will send it, with `{{name}}` wherever a value goes. Once our team approves it, messages matching it exactly stop counting as repeated content. Approval never excuses bounces or spam complaints, and is withdrawn automatically when they run high. Links inside values must point at your own verified domains.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTrustedTemplate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Submitted; waiting for review.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "enum": [
                        "trusted_template"
                      ]
                    },
                    "id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "name": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "pending",
                        "approved",
                        "rejected",
                        "revoked",
                        "withdrawn"
                      ]
                    },
                    "html": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "text": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "holes": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string"
                          },
                          "max": {
                            "type": "integer"
                          }
                        },
                        "required": [
                          "name",
                          "max"
                        ]
                      }
                    },
                    "matched": {
                      "type": "integer"
                    },
                    "submitted_at": {
                      "type": "string"
                    },
                    "decided_at": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "decision_reason": {
                      "type": [
                        "string",
                        "null"
                      ]
                    }
                  },
                  "required": [
                    "object",
                    "id",
                    "name",
                    "status",
                    "html",
                    "text",
                    "holes",
                    "matched",
                    "submitted_at",
                    "decided_at",
                    "decision_reason"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "The API key is missing, malformed, or unknown.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The key is restricted to a domain.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "The same template is already waiting for review or approved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "The template is not acceptable, or the workspace is at its limit.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "501": {
            "description": "Trusted templates are not configured.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/trusted-templates/{id}": {
      "get": {
        "tags": [
          "Trusted templates"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Read a submitted template",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "The submission and its status.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "enum": [
                        "trusted_template"
                      ]
                    },
                    "id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "name": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "pending",
                        "approved",
                        "rejected",
                        "revoked",
                        "withdrawn"
                      ]
                    },
                    "html": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "text": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "holes": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string"
                          },
                          "max": {
                            "type": "integer"
                          }
                        },
                        "required": [
                          "name",
                          "max"
                        ]
                      }
                    },
                    "matched": {
                      "type": "integer"
                    },
                    "submitted_at": {
                      "type": "string"
                    },
                    "decided_at": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "decision_reason": {
                      "type": [
                        "string",
                        "null"
                      ]
                    }
                  },
                  "required": [
                    "object",
                    "id",
                    "name",
                    "status",
                    "html",
                    "text",
                    "holes",
                    "matched",
                    "submitted_at",
                    "decided_at",
                    "decision_reason"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "The API key is missing, malformed, or unknown.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The key is restricted to a domain.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "No submission with that id.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "501": {
            "description": "Trusted templates are not configured.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Trusted templates"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Withdraw a submitted template",
        "description": "Takes back a submission waiting for review, or an approval. Mail matching it is then treated like any other mail. The record stays, marked `withdrawn`.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Withdrawn.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "enum": [
                        "trusted_template"
                      ]
                    },
                    "id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "name": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "pending",
                        "approved",
                        "rejected",
                        "revoked",
                        "withdrawn"
                      ]
                    },
                    "html": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "text": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "holes": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string"
                          },
                          "max": {
                            "type": "integer"
                          }
                        },
                        "required": [
                          "name",
                          "max"
                        ]
                      }
                    },
                    "matched": {
                      "type": "integer"
                    },
                    "submitted_at": {
                      "type": "string"
                    },
                    "decided_at": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "decision_reason": {
                      "type": [
                        "string",
                        "null"
                      ]
                    }
                  },
                  "required": [
                    "object",
                    "id",
                    "name",
                    "status",
                    "html",
                    "text",
                    "holes",
                    "matched",
                    "submitted_at",
                    "decided_at",
                    "decision_reason"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "The API key is missing, malformed, or unknown.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The key is restricted to a domain.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "No pending or approved submission with that id.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "501": {
            "description": "Trusted templates are not configured.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/domains": {
      "post": {
        "summary": "Create a domain",
        "description": "Claims a domain for sending and returns the DNS records to publish. The domain is unusable until those records exist and `POST /domains/{id}/verify` has confirmed them.",
        "tags": [
          "Domains"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDomain"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created, with the records to publish.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Domain"
                }
              }
            }
          },
          "401": {
            "description": "The API key is missing, malformed, or unknown.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The plan does not include another domain.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "That domain is already registered.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "The name is not a domain.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "501": {
            "description": "Domains are not configured.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "List domains",
        "description": "Summaries only. Fetch one domain to see its DNS records.",
        "tags": [
          "Domains"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Every domain this key's tenant owns, newest first.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DomainList"
                }
              }
            }
          },
          "401": {
            "description": "The API key is missing, malformed, or unknown.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "501": {
            "description": "Domains are not configured.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/domains/{id}": {
      "get": {
        "summary": "Retrieve a domain",
        "tags": [
          "Domains"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "The domain, with the records to publish.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Domain"
                }
              }
            }
          },
          "401": {
            "description": "The API key is missing, malformed, or unknown.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "No domain with that id.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "501": {
            "description": "Domains are not configured.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Update a domain",
        "description": "Turns open and click tracking on or off for mail sent from this domain. Both are off by default. Opens are recorded with a tracking pixel and clicks by rewriting links through a redirect, so turn them on only where you have a lawful basis to track your recipients. The change applies to the next message sent, including ones already accepted but not yet sent.",
        "tags": [
          "Domains"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateDomain"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The domain, with the new settings.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Domain"
                }
              }
            }
          },
          "401": {
            "description": "The API key is missing, malformed, or unknown.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "No domain with that id.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Nothing to update, or a field is not a boolean.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "501": {
            "description": "Domains are not configured.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete a domain",
        "description": "Removes the domain and its sending identity. Mail already accepted is unaffected; nothing new can be sent from it afterwards.",
        "tags": [
          "Domains"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeletedDomain"
                }
              }
            }
          },
          "401": {
            "description": "The API key is missing, malformed, or unknown.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "No domain with that id.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "501": {
            "description": "Domains are not configured.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/domains/{id}/verify": {
      "post": {
        "summary": "Verify a domain",
        "description": "Asks the provider to re-check the DNS records. Verification is not instant: a `pending` answer means the records have not propagated yet, and `temporary_failure` means the lookup itself failed and is worth retrying - neither means the records are wrong.",
        "tags": [
          "Domains"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "The domain as it now stands.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Domain"
                }
              }
            }
          },
          "401": {
            "description": "The API key is missing, malformed, or unknown.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "No domain with that id.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Another workspace verified this domain first. A name may be held by any number of workspaces while it is pending, but only by one once ownership has been proved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "501": {
            "description": "Domains are not configured.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/mailboxes": {
      "post": {
        "summary": "Create your mailbox",
        "description": "Creates a mailbox for the signed-in user on a domain i10 hosts mail for. The account must have a password: mail clients sign in with it, so an account created through Google or an email link cannot hold a mailbox until one is set.",
        "tags": [
          "Mailboxes"
        ],
        "security": [
          {
            "sessionAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateMailbox"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created. The mailbox can receive mail and be signed in to.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Mailbox"
                }
              }
            }
          },
          "401": {
            "description": "Not signed in.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The plan does not include another mailbox.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "The account has no password, the address is taken, or the user already has a mailbox.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "The address is not one we can host.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "501": {
            "description": "Mailboxes are not configured.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "The session could not be verified.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "List your mailboxes",
        "tags": [
          "Mailboxes"
        ],
        "security": [
          {
            "sessionAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "The signed-in user's mailboxes. Empty if they have none.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MailboxList"
                }
              }
            }
          },
          "401": {
            "description": "Not signed in.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "501": {
            "description": "Mailboxes are not configured.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "The session could not be verified.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "webhooks": {}
}
