{
  "openapi": "3.1.0",
  "info": {
    "title": "i10 API",
    "version": "0.0.0",
    "description": "Transactional email. The document is generated from the same Zod schemas the server validates with and the SDKs are built from, so it cannot drift from the implementation."
  },
  "servers": [
    {
      "url": "https://api.i10.tech",
      "description": "Production"
    }
  ],
  "tags": [
    {
      "name": "Emails",
      "description": "Sending mail."
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Your i10 API key. Keys are prefixed `i10_live_` or `i10_test_` so they are recognisable in your own logs and greppable in a leak scan."
      },
      "sessionAuth": {
        "type": "apiKey",
        "in": "cookie",
        "name": "__session",
        "description": "The Clerk session cookie set when you sign in at auth.i10.tech. Used by the console for mailbox management; it is not an alternative to an API key, and the sending endpoints do not accept it."
      }
    },
    "schemas": {
      "EmailSentEvent": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "type": {
            "type": "string",
            "enum": [
              "email.sent"
            ]
          },
          "created_at": {
            "type": "string"
          },
          "sequence": {
            "type": "integer",
            "exclusiveMinimum": 0
          },
          "data": {
            "type": "object",
            "properties": {
              "email_id": {
                "type": "string"
              },
              "from": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "to": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "subject": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "created_at": {
                "type": "string"
              },
              "tags": {
                "type": "object",
                "additionalProperties": {
                  "type": "string"
                }
              },
              "test": {
                "type": "boolean",
                "enum": [
                  true
                ]
              }
            },
            "required": [
              "email_id",
              "from",
              "to",
              "subject",
              "created_at",
              "tags"
            ],
            "additionalProperties": false
          }
        },
        "required": [
          "id",
          "type",
          "created_at",
          "data"
        ],
        "additionalProperties": false
      },
      "EmailDeliveredEvent": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "type": {
            "type": "string",
            "enum": [
              "email.delivered"
            ]
          },
          "created_at": {
            "type": "string"
          },
          "sequence": {
            "type": "integer",
            "exclusiveMinimum": 0
          },
          "data": {
            "type": "object",
            "properties": {
              "email_id": {
                "type": "string"
              },
              "from": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "to": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "subject": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "created_at": {
                "type": "string"
              },
              "tags": {
                "type": "object",
                "additionalProperties": {
                  "type": "string"
                }
              },
              "test": {
                "type": "boolean",
                "enum": [
                  true
                ]
              }
            },
            "required": [
              "email_id",
              "from",
              "to",
              "subject",
              "created_at",
              "tags"
            ],
            "additionalProperties": false
          }
        },
        "required": [
          "id",
          "type",
          "created_at",
          "data"
        ],
        "additionalProperties": false
      },
      "EmailDeliveryDelayedEvent": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "type": {
            "type": "string",
            "enum": [
              "email.delivery_delayed"
            ]
          },
          "created_at": {
            "type": "string"
          },
          "sequence": {
            "type": "integer",
            "exclusiveMinimum": 0
          },
          "data": {
            "type": "object",
            "properties": {
              "email_id": {
                "type": "string"
              },
              "from": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "to": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "subject": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "created_at": {
                "type": "string"
              },
              "tags": {
                "type": "object",
                "additionalProperties": {
                  "type": "string"
                }
              },
              "test": {
                "type": "boolean",
                "enum": [
                  true
                ]
              },
              "delay": {
                "type": "object",
                "properties": {
                  "recipients": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "type": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "next_retry": {
                    "type": [
                      "string",
                      "null"
                    ]
                  }
                },
                "required": [
                  "recipients",
                  "type",
                  "next_retry"
                ],
                "additionalProperties": false
              }
            },
            "required": [
              "email_id",
              "from",
              "to",
              "subject",
              "created_at",
              "tags",
              "delay"
            ],
            "additionalProperties": false
          }
        },
        "required": [
          "id",
          "type",
          "created_at",
          "data"
        ],
        "additionalProperties": false
      },
      "EmailBouncedEvent": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "type": {
            "type": "string",
            "enum": [
              "email.bounced"
            ]
          },
          "created_at": {
            "type": "string"
          },
          "sequence": {
            "type": "integer",
            "exclusiveMinimum": 0
          },
          "data": {
            "type": "object",
            "properties": {
              "email_id": {
                "type": "string"
              },
              "from": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "to": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "subject": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "created_at": {
                "type": "string"
              },
              "tags": {
                "type": "object",
                "additionalProperties": {
                  "type": "string"
                }
              },
              "test": {
                "type": "boolean",
                "enum": [
                  true
                ]
              },
              "bounce": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": [
                      "permanent",
                      "transient",
                      "undetermined"
                    ]
                  },
                  "subtype": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "recipients": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "diagnostic": {
                    "type": [
                      "string",
                      "null"
                    ]
                  }
                },
                "required": [
                  "type",
                  "subtype",
                  "recipients",
                  "diagnostic"
                ],
                "additionalProperties": false
              }
            },
            "required": [
              "email_id",
              "from",
              "to",
              "subject",
              "created_at",
              "tags",
              "bounce"
            ],
            "additionalProperties": false
          }
        },
        "required": [
          "id",
          "type",
          "created_at",
          "data"
        ],
        "additionalProperties": false
      },
      "EmailComplainedEvent": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "type": {
            "type": "string",
            "enum": [
              "email.complained"
            ]
          },
          "created_at": {
            "type": "string"
          },
          "sequence": {
            "type": "integer",
            "exclusiveMinimum": 0
          },
          "data": {
            "type": "object",
            "properties": {
              "email_id": {
                "type": "string"
              },
              "from": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "to": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "subject": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "created_at": {
                "type": "string"
              },
              "tags": {
                "type": "object",
                "additionalProperties": {
                  "type": "string"
                }
              },
              "test": {
                "type": "boolean",
                "enum": [
                  true
                ]
              },
              "complaint": {
                "type": "object",
                "properties": {
                  "recipients": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "type": {
                    "type": [
                      "string",
                      "null"
                    ]
                  }
                },
                "required": [
                  "recipients",
                  "type"
                ],
                "additionalProperties": false
              }
            },
            "required": [
              "email_id",
              "from",
              "to",
              "subject",
              "created_at",
              "tags",
              "complaint"
            ],
            "additionalProperties": false
          }
        },
        "required": [
          "id",
          "type",
          "created_at",
          "data"
        ],
        "additionalProperties": false
      },
      "EmailFailedEvent": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "type": {
            "type": "string",
            "enum": [
              "email.failed"
            ]
          },
          "created_at": {
            "type": "string"
          },
          "sequence": {
            "type": "integer",
            "exclusiveMinimum": 0
          },
          "data": {
            "type": "object",
            "properties": {
              "email_id": {
                "type": "string"
              },
              "from": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "to": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "subject": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "created_at": {
                "type": "string"
              },
              "tags": {
                "type": "object",
                "additionalProperties": {
                  "type": "string"
                }
              },
              "test": {
                "type": "boolean",
                "enum": [
                  true
                ]
              },
              "reason": {
                "type": "string"
              }
            },
            "required": [
              "email_id",
              "from",
              "to",
              "subject",
              "created_at",
              "tags",
              "reason"
            ],
            "additionalProperties": false
          }
        },
        "required": [
          "id",
          "type",
          "created_at",
          "data"
        ],
        "additionalProperties": false
      },
      "EmailOpenedEvent": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "type": {
            "type": "string",
            "enum": [
              "email.opened"
            ]
          },
          "created_at": {
            "type": "string"
          },
          "sequence": {
            "type": "integer",
            "exclusiveMinimum": 0
          },
          "data": {
            "type": "object",
            "properties": {
              "email_id": {
                "type": "string"
              },
              "from": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "to": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "subject": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "created_at": {
                "type": "string"
              },
              "tags": {
                "type": "object",
                "additionalProperties": {
                  "type": "string"
                }
              },
              "test": {
                "type": "boolean",
                "enum": [
                  true
                ]
              },
              "open": {
                "type": "object",
                "properties": {
                  "user_agent": {
                    "type": [
                      "string",
                      "null"
                    ]
                  }
                },
                "required": [
                  "user_agent"
                ],
                "additionalProperties": false
              }
            },
            "required": [
              "email_id",
              "from",
              "to",
              "subject",
              "created_at",
              "tags",
              "open"
            ],
            "additionalProperties": false
          }
        },
        "required": [
          "id",
          "type",
          "created_at",
          "data"
        ],
        "additionalProperties": false
      },
      "EmailClickedEvent": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "type": {
            "type": "string",
            "enum": [
              "email.clicked"
            ]
          },
          "created_at": {
            "type": "string"
          },
          "sequence": {
            "type": "integer",
            "exclusiveMinimum": 0
          },
          "data": {
            "type": "object",
            "properties": {
              "email_id": {
                "type": "string"
              },
              "from": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "to": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "subject": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "created_at": {
                "type": "string"
              },
              "tags": {
                "type": "object",
                "additionalProperties": {
                  "type": "string"
                }
              },
              "test": {
                "type": "boolean",
                "enum": [
                  true
                ]
              },
              "click": {
                "type": "object",
                "properties": {
                  "link": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "user_agent": {
                    "type": [
                      "string",
                      "null"
                    ]
                  }
                },
                "required": [
                  "link",
                  "user_agent"
                ],
                "additionalProperties": false
              }
            },
            "required": [
              "email_id",
              "from",
              "to",
              "subject",
              "created_at",
              "tags",
              "click"
            ],
            "additionalProperties": false
          }
        },
        "required": [
          "id",
          "type",
          "created_at",
          "data"
        ],
        "additionalProperties": false
      },
      "EmailUnsubscribedEvent": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "type": {
            "type": "string",
            "enum": [
              "email.unsubscribed"
            ]
          },
          "created_at": {
            "type": "string"
          },
          "sequence": {
            "type": "integer",
            "exclusiveMinimum": 0
          },
          "data": {
            "type": "object",
            "properties": {
              "email_id": {
                "type": "string"
              },
              "from": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "to": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "subject": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "created_at": {
                "type": "string"
              },
              "tags": {
                "type": "object",
                "additionalProperties": {
                  "type": "string"
                }
              },
              "test": {
                "type": "boolean",
                "enum": [
                  true
                ]
              },
              "unsubscribe": {
                "type": "object",
                "properties": {
                  "list": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "source": {
                    "type": [
                      "string",
                      "null"
                    ]
                  }
                },
                "required": [
                  "list",
                  "source"
                ],
                "additionalProperties": false
              }
            },
            "required": [
              "email_id",
              "from",
              "to",
              "subject",
              "created_at",
              "tags",
              "unsubscribe"
            ],
            "additionalProperties": false
          }
        },
        "required": [
          "id",
          "type",
          "created_at",
          "data"
        ],
        "additionalProperties": false
      },
      "SendEmailResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          }
        },
        "required": [
          "id"
        ]
      },
      "Error": {
        "type": "object",
        "properties": {
          "statusCode": {
            "type": "integer"
          },
          "name": {
            "type": "string",
            "enum": [
              "validation_error",
              "missing_required_field",
              "invalid_access",
              "not_found",
              "method_not_allowed",
              "rate_limit_exceeded",
              "daily_quota_exceeded",
              "monthly_quota_exceeded",
              "invalid_from_address",
              "invalid_to_address",
              "domain_not_verified",
              "idempotency_conflict",
              "domain_already_exists",
              "domain_already_claimed",
              "plan_limit_exceeded",
              "password_required",
              "mailbox_already_exists",
              "restricted_api_key",
              "confirmation_required",
              "sending_paused",
              "sending_held",
              "template_already_submitted",
              "internal_server_error"
            ]
          },
          "message": {
            "type": "string"
          }
        },
        "required": [
          "statusCode",
          "name",
          "message"
        ]
      },
      "SendEmail": {
        "type": "object",
        "properties": {
          "from": {
            "type": "string",
            "minLength": 3,
            "maxLength": 320
          },
          "to": {
            "anyOf": [
              {
                "type": "string",
                "minLength": 3,
                "maxLength": 320
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "minLength": 3,
                  "maxLength": 320
                },
                "minItems": 1,
                "maxItems": 50
              }
            ]
          },
          "subject": {
            "type": "string"
          },
          "bcc": {
            "anyOf": [
              {
                "type": "string",
                "minLength": 3,
                "maxLength": 320
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "minLength": 3,
                  "maxLength": 320
                },
                "minItems": 1,
                "maxItems": 50
              }
            ]
          },
          "cc": {
            "anyOf": [
              {
                "type": "string",
                "minLength": 3,
                "maxLength": 320
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "minLength": 3,
                  "maxLength": 320
                },
                "minItems": 1,
                "maxItems": 50
              }
            ]
          },
          "reply_to": {
            "anyOf": [
              {
                "type": "string",
                "minLength": 3,
                "maxLength": 320
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "minLength": 3,
                  "maxLength": 320
                },
                "minItems": 1,
                "maxItems": 50
              }
            ]
          },
          "html": {
            "type": "string",
            "maxLength": 5242880
          },
          "text": {
            "type": "string",
            "maxLength": 5242880
          },
          "template": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "minLength": 1,
                "maxLength": 200
              },
              "version": {
                "type": "integer",
                "exclusiveMinimum": 0
              },
              "variables": {
                "type": "object",
                "additionalProperties": {}
              }
            },
            "required": [
              "id"
            ]
          },
          "headers": {
            "type": "object",
            "additionalProperties": {
              "type": "string",
              "maxLength": 998
            }
          },
          "attachments": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "filename": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 255,
                  "pattern": "^[^\\r\\n\"]+$"
                },
                "content": {
                  "type": "string"
                },
                "path": {
                  "type": "string",
                  "format": "uri"
                },
                "content_type": {
                  "type": "string",
                  "maxLength": 255
                },
                "content_id": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 255,
                  "pattern": "^[^\\s<>\"]+$"
                }
              },
              "required": [
                "filename"
              ]
            },
            "maxItems": 490
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "pattern": "^[A-Za-z0-9_-]{1,256}$"
                },
                "value": {
                  "type": "string",
                  "pattern": "^[A-Za-z0-9_-]{1,256}$"
                }
              },
              "required": [
                "name",
                "value"
              ]
            }
          },
          "scheduled_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "to"
        ]
      },
      "BatchSendResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "required": [
                "id"
              ]
            }
          }
        },
        "required": [
          "data"
        ]
      },
      "BatchSend": {
        "type": "array",
        "items": {
          "type": "object",
          "properties": {
            "from": {
              "type": "string",
              "minLength": 3,
              "maxLength": 320
            },
            "to": {
              "anyOf": [
                {
                  "type": "string",
                  "minLength": 3,
                  "maxLength": 320
                },
                {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "minLength": 3,
                    "maxLength": 320
                  },
                  "minItems": 1,
                  "maxItems": 50
                }
              ]
            },
            "subject": {
              "type": "string"
            },
            "bcc": {
              "anyOf": [
                {
                  "type": "string",
                  "minLength": 3,
                  "maxLength": 320
                },
                {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "minLength": 3,
                    "maxLength": 320
                  },
                  "minItems": 1,
                  "maxItems": 50
                }
              ]
            },
            "cc": {
              "anyOf": [
                {
                  "type": "string",
                  "minLength": 3,
                  "maxLength": 320
                },
                {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "minLength": 3,
                    "maxLength": 320
                  },
                  "minItems": 1,
                  "maxItems": 50
                }
              ]
            },
            "reply_to": {
              "anyOf": [
                {
                  "type": "string",
                  "minLength": 3,
                  "maxLength": 320
                },
                {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "minLength": 3,
                    "maxLength": 320
                  },
                  "minItems": 1,
                  "maxItems": 50
                }
              ]
            },
            "html": {
              "type": "string",
              "maxLength": 5242880
            },
            "text": {
              "type": "string",
              "maxLength": 5242880
            },
            "template": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 200
                },
                "version": {
                  "type": "integer",
                  "exclusiveMinimum": 0
                },
                "variables": {
                  "type": "object",
                  "additionalProperties": {}
                }
              },
              "required": [
                "id"
              ]
            },
            "headers": {
              "type": "object",
              "additionalProperties": {
                "type": "string",
                "maxLength": 998
              }
            },
            "attachments": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "filename": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 255,
                    "pattern": "^[^\\r\\n\"]+$"
                  },
                  "content": {
                    "type": "string"
                  },
                  "path": {
                    "type": "string",
                    "format": "uri"
                  },
                  "content_type": {
                    "type": "string",
                    "maxLength": 255
                  },
                  "content_id": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 255,
                    "pattern": "^[^\\s<>\"]+$"
                  }
                },
                "required": [
                  "filename"
                ]
              },
              "maxItems": 490
            },
            "tags": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "pattern": "^[A-Za-z0-9_-]{1,256}$"
                  },
                  "value": {
                    "type": "string",
                    "pattern": "^[A-Za-z0-9_-]{1,256}$"
                  }
                },
                "required": [
                  "name",
                  "value"
                ]
              }
            },
            "scheduled_at": {
              "type": "string",
              "format": "date-time"
            }
          },
          "required": [
            "to"
          ]
        },
        "minItems": 1,
        "maxItems": 100
      },
      "Email": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "email"
            ]
          },
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "from": {
            "type": "string"
          },
          "to": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "cc": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "bcc": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "reply_to": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "subject": {
            "type": "string"
          },
          "html": {
            "type": [
              "string",
              "null"
            ]
          },
          "text": {
            "type": [
              "string",
              "null"
            ]
          },
          "created_at": {
            "type": "string"
          },
          "scheduled_at": {
            "type": [
              "string",
              "null"
            ]
          },
          "last_event": {
            "type": "string",
            "enum": [
              "queued",
              "scheduled",
              "sending",
              "sent",
              "delivered",
              "delivery_delayed",
              "opened",
              "clicked",
              "unsubscribed",
              "bounced",
              "complained",
              "failed",
              "canceled"
            ]
          }
        },
        "required": [
          "object",
          "id",
          "from",
          "to",
          "cc",
          "bcc",
          "reply_to",
          "subject",
          "html",
          "text",
          "created_at",
          "scheduled_at",
          "last_event"
        ]
      },
      "WebhookEndpointWithSecret": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "webhook_endpoint"
            ]
          },
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "events": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "email.sent",
                "email.delivered",
                "email.delivery_delayed",
                "email.bounced",
                "email.complained",
                "email.failed",
                "email.opened",
                "email.clicked",
                "email.unsubscribed"
              ]
            }
          },
          "description": {
            "type": [
              "string",
              "null"
            ]
          },
          "enabled": {
            "type": "boolean"
          },
          "disabled_reason": {
            "type": [
              "string",
              "null"
            ]
          },
          "created_at": {
            "type": "string"
          },
          "signature_scheme": {
            "type": "string",
            "enum": [
              "hmac_sha256",
              "ed25519"
            ]
          },
          "rate_limit": {
            "type": [
              "integer",
              "null"
            ]
          },
          "header_names": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "filter_domains": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "type": "string"
            }
          },
          "filter_tags": {
            "type": [
              "object",
              "null"
            ],
            "additionalProperties": {
              "type": "string"
            }
          },
          "public_key": {
            "type": [
              "string",
              "null"
            ]
          },
          "previous_secrets": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "signature_scheme": {
                  "type": "string",
                  "enum": [
                    "hmac_sha256",
                    "ed25519"
                  ]
                },
                "expires_at": {
                  "type": "string"
                }
              },
              "required": [
                "signature_scheme",
                "expires_at"
              ]
            }
          },
          "secret": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "object",
          "id",
          "url",
          "events",
          "description",
          "enabled",
          "disabled_reason",
          "created_at",
          "signature_scheme",
          "rate_limit",
          "header_names",
          "filter_domains",
          "filter_tags",
          "public_key",
          "previous_secrets",
          "secret"
        ]
      },
      "CreateWebhookEndpoint": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "format": "uri"
          },
          "events": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "email.sent",
                "email.delivered",
                "email.delivery_delayed",
                "email.bounced",
                "email.complained",
                "email.failed",
                "email.opened",
                "email.clicked",
                "email.unsubscribed"
              ]
            },
            "minItems": 1
          },
          "description": {
            "type": "string",
            "maxLength": 255
          },
          "signature_scheme": {
            "type": "string",
            "enum": [
              "hmac_sha256",
              "ed25519"
            ]
          },
          "rate_limit": {
            "type": "integer",
            "minimum": 1,
            "maximum": 1000
          },
          "headers": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "filter_domains": {
            "type": "array",
            "items": {
              "type": "string",
              "minLength": 1,
              "maxLength": 253
            },
            "minItems": 1,
            "maxItems": 50
          },
          "filter_tags": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          }
        },
        "required": [
          "url",
          "events"
        ]
      },
      "WebhookEndpointList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "object": {
                  "type": "string",
                  "enum": [
                    "webhook_endpoint"
                  ]
                },
                "id": {
                  "type": "string",
                  "format": "uuid"
                },
                "url": {
                  "type": "string",
                  "format": "uri"
                },
                "events": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "enum": [
                      "email.sent",
                      "email.delivered",
                      "email.delivery_delayed",
                      "email.bounced",
                      "email.complained",
                      "email.failed",
                      "email.opened",
                      "email.clicked",
                      "email.unsubscribed"
                    ]
                  }
                },
                "description": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "enabled": {
                  "type": "boolean"
                },
                "disabled_reason": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "created_at": {
                  "type": "string"
                },
                "signature_scheme": {
                  "type": "string",
                  "enum": [
                    "hmac_sha256",
                    "ed25519"
                  ]
                },
                "rate_limit": {
                  "type": [
                    "integer",
                    "null"
                  ]
                },
                "header_names": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "filter_domains": {
                  "type": [
                    "array",
                    "null"
                  ],
                  "items": {
                    "type": "string"
                  }
                },
                "filter_tags": {
                  "type": [
                    "object",
                    "null"
                  ],
                  "additionalProperties": {
                    "type": "string"
                  }
                },
                "public_key": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "previous_secrets": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "signature_scheme": {
                        "type": "string",
                        "enum": [
                          "hmac_sha256",
                          "ed25519"
                        ]
                      },
                      "expires_at": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "signature_scheme",
                      "expires_at"
                    ]
                  }
                }
              },
              "required": [
                "object",
                "id",
                "url",
                "events",
                "description",
                "enabled",
                "disabled_reason",
                "created_at",
                "signature_scheme",
                "rate_limit",
                "header_names",
                "filter_domains",
                "filter_tags",
                "public_key",
                "previous_secrets"
              ]
            }
          }
        },
        "required": [
          "data"
        ]
      },
      "RotateWebhookSecret": {
        "type": "object",
        "properties": {
          "previous_secret": {
            "type": "string",
            "enum": [
              "revoke",
              "expire"
            ]
          },
          "expires_in": {
            "type": "integer",
            "minimum": 60,
            "maximum": 259200
          },
          "signature_scheme": {
            "type": "string",
            "enum": [
              "hmac_sha256",
              "ed25519"
            ]
          }
        },
        "required": [
          "previous_secret"
        ]
      },
      "UpdateWebhookEndpoint": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "format": "uri"
          },
          "events": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "email.sent",
                "email.delivered",
                "email.delivery_delayed",
                "email.bounced",
                "email.complained",
                "email.failed",
                "email.opened",
                "email.clicked",
                "email.unsubscribed"
              ]
            },
            "minItems": 1
          },
          "description": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 255
          },
          "enabled": {
            "type": "boolean"
          },
          "rate_limit": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 1,
            "maximum": 1000
          },
          "headers": {
            "type": [
              "object",
              "null"
            ],
            "additionalProperties": {
              "type": "string"
            }
          },
          "filter_domains": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "type": "string",
              "minLength": 1,
              "maxLength": 253
            },
            "minItems": 1,
            "maxItems": 50
          },
          "filter_tags": {
            "type": [
              "object",
              "null"
            ],
            "additionalProperties": {
              "type": "string"
            }
          }
        }
      },
      "WebhookEndpointStats": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "webhook_endpoint_stats"
            ]
          },
          "endpoint_id": {
            "type": "string",
            "format": "uuid"
          },
          "since": {
            "type": "string"
          },
          "delivered": {
            "type": "integer"
          },
          "failed": {
            "type": "integer"
          },
          "pending": {
            "type": "integer"
          },
          "success_rate": {
            "type": [
              "number",
              "null"
            ]
          },
          "last_success_at": {
            "type": [
              "string",
              "null"
            ]
          },
          "failing_since": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "object",
          "endpoint_id",
          "since",
          "delivered",
          "failed",
          "pending",
          "success_rate",
          "last_success_at",
          "failing_since"
        ]
      },
      "SendTestEvent": {
        "type": "object",
        "properties": {
          "event_type": {
            "type": "string",
            "enum": [
              "email.sent",
              "email.delivered",
              "email.delivery_delayed",
              "email.bounced",
              "email.complained",
              "email.failed",
              "email.opened",
              "email.clicked",
              "email.unsubscribed"
            ]
          }
        },
        "required": [
          "event_type"
        ]
      },
      "WebhookReplay": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "webhook_replay"
            ]
          },
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "endpoint_id": {
            "type": "string",
            "format": "uuid"
          },
          "kind": {
            "type": "string",
            "enum": [
              "replay",
              "replay_missing"
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "queued",
              "running",
              "done",
              "failed"
            ]
          },
          "filter": {
            "type": "object",
            "properties": {
              "since": {
                "type": "string"
              },
              "until": {
                "type": "string"
              },
              "statuses": {
                "type": "array",
                "items": {
                  "type": "string",
                  "enum": [
                    "delivered",
                    "failed"
                  ]
                }
              },
              "event_type": {
                "type": "string"
              }
            },
            "required": [
              "since",
              "until"
            ]
          },
          "queued": {
            "type": "integer"
          },
          "examined": {
            "type": "integer"
          },
          "error": {
            "type": [
              "string",
              "null"
            ]
          },
          "created_at": {
            "type": "string"
          },
          "updated_at": {
            "type": "string"
          },
          "finished_at": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "object",
          "id",
          "endpoint_id",
          "kind",
          "status",
          "filter",
          "queued",
          "examined",
          "error",
          "created_at",
          "updated_at",
          "finished_at"
        ]
      },
      "CreateReplay": {
        "type": "object",
        "properties": {
          "since": {
            "type": "string",
            "format": "date-time"
          },
          "until": {
            "type": "string",
            "format": "date-time"
          },
          "statuses": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "delivered",
                "failed"
              ]
            },
            "minItems": 1
          },
          "event_type": {
            "type": "string",
            "enum": [
              "email.sent",
              "email.delivered",
              "email.delivery_delayed",
              "email.bounced",
              "email.complained",
              "email.failed",
              "email.opened",
              "email.clicked",
              "email.unsubscribed"
            ]
          }
        },
        "required": [
          "since"
        ]
      },
      "CreateReplayMissing": {
        "type": "object",
        "properties": {
          "since": {
            "type": "string",
            "format": "date-time"
          },
          "until": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "since"
        ]
      },
      "WebhookDeliveryList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "object": {
                  "type": "string",
                  "enum": [
                    "webhook_delivery"
                  ]
                },
                "id": {
                  "type": "string",
                  "format": "uuid"
                },
                "endpoint_id": {
                  "type": "string",
                  "format": "uuid"
                },
                "event_type": {
                  "type": "string",
                  "enum": [
                    "email.sent",
                    "email.delivered",
                    "email.delivery_delayed",
                    "email.bounced",
                    "email.complained",
                    "email.failed",
                    "email.opened",
                    "email.clicked",
                    "email.unsubscribed"
                  ]
                },
                "status": {
                  "type": "string",
                  "enum": [
                    "pending",
                    "delivered",
                    "failed"
                  ]
                },
                "attempts": {
                  "type": "integer"
                },
                "sequence": {
                  "type": [
                    "integer",
                    "null"
                  ]
                },
                "next_attempt_at": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "response_status": {
                  "type": [
                    "integer",
                    "null"
                  ]
                },
                "last_error": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "occurred_at": {
                  "type": "string"
                },
                "delivered_at": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "created_at": {
                  "type": "string"
                }
              },
              "required": [
                "object",
                "id",
                "endpoint_id",
                "event_type",
                "status",
                "attempts",
                "sequence",
                "next_attempt_at",
                "response_status",
                "last_error",
                "occurred_at",
                "delivered_at",
                "created_at"
              ]
            }
          },
          "next_cursor": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "data",
          "next_cursor"
        ]
      },
      "WebhookDeliveryDetail": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "webhook_delivery"
            ]
          },
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "endpoint_id": {
            "type": "string",
            "format": "uuid"
          },
          "event_type": {
            "type": "string",
            "enum": [
              "email.sent",
              "email.delivered",
              "email.delivery_delayed",
              "email.bounced",
              "email.complained",
              "email.failed",
              "email.opened",
              "email.clicked",
              "email.unsubscribed"
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "delivered",
              "failed"
            ]
          },
          "attempts": {
            "type": "integer"
          },
          "sequence": {
            "type": [
              "integer",
              "null"
            ]
          },
          "next_attempt_at": {
            "type": [
              "string",
              "null"
            ]
          },
          "response_status": {
            "type": [
              "integer",
              "null"
            ]
          },
          "last_error": {
            "type": [
              "string",
              "null"
            ]
          },
          "occurred_at": {
            "type": "string"
          },
          "delivered_at": {
            "type": [
              "string",
              "null"
            ]
          },
          "created_at": {
            "type": "string"
          },
          "payload": {
            "type": "object",
            "additionalProperties": {}
          },
          "payload_expunged_at": {
            "type": [
              "string",
              "null"
            ]
          },
          "attempt_log": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "object": {
                  "type": "string",
                  "enum": [
                    "webhook_attempt"
                  ]
                },
                "id": {
                  "type": "string",
                  "format": "uuid"
                },
                "attempt": {
                  "type": "integer"
                },
                "trigger": {
                  "type": "string",
                  "enum": [
                    "scheduled",
                    "manual",
                    "recover",
                    "replay",
                    "test"
                  ]
                },
                "lane": {
                  "type": "string",
                  "enum": [
                    "ordered",
                    "retry"
                  ]
                },
                "url": {
                  "type": "string"
                },
                "request_headers": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                },
                "response_status": {
                  "type": [
                    "integer",
                    "null"
                  ]
                },
                "response_headers": {
                  "type": [
                    "object",
                    "null"
                  ],
                  "additionalProperties": {
                    "type": "string"
                  }
                },
                "response_body": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "duration_ms": {
                  "type": "integer"
                },
                "error_kind": {
                  "type": [
                    "string",
                    "null"
                  ],
                  "enum": [
                    "status",
                    "timeout",
                    "connect",
                    "tls",
                    "blocked",
                    "unresolved",
                    null
                  ]
                },
                "error": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "created_at": {
                  "type": "string"
                }
              },
              "required": [
                "object",
                "id",
                "attempt",
                "trigger",
                "lane",
                "url",
                "request_headers",
                "response_status",
                "response_headers",
                "response_body",
                "duration_ms",
                "error_kind",
                "error",
                "created_at"
              ]
            }
          }
        },
        "required": [
          "object",
          "id",
          "endpoint_id",
          "event_type",
          "status",
          "attempts",
          "sequence",
          "next_attempt_at",
          "response_status",
          "last_error",
          "occurred_at",
          "delivered_at",
          "created_at",
          "payload",
          "payload_expunged_at",
          "attempt_log"
        ]
      },
      "WebhookEventTypeList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "object": {
                  "type": "string",
                  "enum": [
                    "webhook_event_type"
                  ]
                },
                "type": {
                  "type": "string",
                  "enum": [
                    "email.sent",
                    "email.delivered",
                    "email.delivery_delayed",
                    "email.bounced",
                    "email.complained",
                    "email.failed",
                    "email.opened",
                    "email.clicked",
                    "email.unsubscribed"
                  ]
                },
                "version": {
                  "type": "integer"
                },
                "description": {
                  "type": "string"
                },
                "schema": {
                  "type": "object",
                  "additionalProperties": {}
                },
                "example": {
                  "type": "object",
                  "additionalProperties": {}
                }
              },
              "required": [
                "object",
                "type",
                "version",
                "description",
                "schema",
                "example"
              ]
            }
          }
        },
        "required": [
          "data"
        ]
      },
      "SuppressionList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "object": {
                  "type": "string",
                  "enum": [
                    "suppression"
                  ]
                },
                "address": {
                  "type": "string"
                },
                "reason": {
                  "type": "string",
                  "enum": [
                    "hard_bounce",
                    "complaint",
                    "manual",
                    "unsubscribe"
                  ]
                },
                "message_id": {
                  "type": [
                    "string",
                    "null"
                  ],
                  "format": "uuid"
                },
                "created_at": {
                  "type": "string"
                }
              },
              "required": [
                "object",
                "address",
                "reason",
                "message_id",
                "created_at"
              ]
            }
          },
          "next_cursor": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "data",
          "next_cursor"
        ]
      },
      "CreateSuppression": {
        "type": "object",
        "properties": {
          "address": {
            "type": "string",
            "maxLength": 320,
            "pattern": ".@."
          }
        },
        "required": [
          "address"
        ]
      },
      "TrustedTemplateList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "object": {
                  "type": "string",
                  "enum": [
                    "trusted_template"
                  ]
                },
                "id": {
                  "type": "string",
                  "format": "uuid"
                },
                "name": {
                  "type": "string"
                },
                "status": {
                  "type": "string",
                  "enum": [
                    "pending",
                    "approved",
                    "rejected",
                    "revoked",
                    "withdrawn"
                  ]
                },
                "html": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "text": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "holes": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string"
                      },
                      "max": {
                        "type": "integer"
                      }
                    },
                    "required": [
                      "name",
                      "max"
                    ]
                  }
                },
                "matched": {
                  "type": "integer"
                },
                "submitted_at": {
                  "type": "string"
                },
                "decided_at": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "decision_reason": {
                  "type": [
                    "string",
                    "null"
                  ]
                }
              },
              "required": [
                "object",
                "id",
                "name",
                "status",
                "html",
                "text",
                "holes",
                "matched",
                "submitted_at",
                "decided_at",
                "decision_reason"
              ]
            }
          }
        },
        "required": [
          "data"
        ]
      },
      "CreateTrustedTemplate": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 100
          },
          "html": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 200000
          },
          "text": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 200000
          },
          "holes": {
            "type": "object",
            "additionalProperties": {
              "type": "integer",
              "minimum": 1,
              "maximum": 1000
            }
          }
        },
        "required": [
          "name"
        ]
      },
      "Domain": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "domain"
            ]
          },
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "not_started",
              "pending",
              "verified",
              "failed",
              "temporary_failure"
            ]
          },
          "created_at": {
            "type": "string"
          },
          "region": {
            "type": "string"
          },
          "records": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "record": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "type": {
                  "type": "string",
                  "enum": [
                    "MX",
                    "TXT",
                    "CNAME",
                    "NS"
                  ]
                },
                "ttl": {
                  "type": "string"
                },
                "status": {
                  "type": "string",
                  "enum": [
                    "not_started",
                    "pending",
                    "verified",
                    "failed",
                    "temporary_failure"
                  ]
                },
                "value": {
                  "type": "string"
                },
                "priority": {
                  "type": "integer"
                }
              },
              "required": [
                "record",
                "name",
                "type",
                "ttl",
                "status",
                "value"
              ]
            }
          },
          "delegated": {
            "type": "boolean"
          },
          "open_tracking": {
            "type": "boolean"
          },
          "click_tracking": {
            "type": "boolean"
          }
        },
        "required": [
          "object",
          "id",
          "name",
          "status",
          "created_at",
          "region",
          "records",
          "delegated",
          "open_tracking",
          "click_tracking"
        ]
      },
      "CreateDomain": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 253
          },
          "custom_return_path": {
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-z0-9]([a-z0-9-]*[a-z0-9])?$/i"
          },
          "region": {
            "type": "string"
          },
          "delegated": {
            "type": "boolean"
          }
        },
        "required": [
          "name"
        ]
      },
      "DomainList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "object": {
                  "type": "string",
                  "enum": [
                    "domain"
                  ]
                },
                "id": {
                  "type": "string",
                  "format": "uuid"
                },
                "name": {
                  "type": "string"
                },
                "status": {
                  "type": "string",
                  "enum": [
                    "not_started",
                    "pending",
                    "verified",
                    "failed",
                    "temporary_failure"
                  ]
                },
                "created_at": {
                  "type": "string"
                },
                "region": {
                  "type": "string"
                },
                "delegated": {
                  "type": "boolean"
                }
              },
              "required": [
                "object",
                "id",
                "name",
                "status",
                "created_at",
                "region",
                "delegated"
              ]
            }
          }
        },
        "required": [
          "data"
        ]
      },
      "UpdateDomain": {
        "type": "object",
        "properties": {
          "open_tracking": {
            "type": "boolean"
          },
          "click_tracking": {
            "type": "boolean"
          }
        }
      },
      "DeletedDomain": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "domain"
            ]
          },
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "deleted": {
            "type": "boolean",
            "enum": [
              true
            ]
          }
        },
        "required": [
          "object",
          "id",
          "deleted"
        ]
      },
      "Mailbox": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "mailbox"
            ]
          },
          "address": {
            "type": "string"
          },
          "display_name": {
            "type": [
              "string",
              "null"
            ]
          },
          "active": {
            "type": "boolean"
          },
          "created_at": {
            "type": "string"
          }
        },
        "required": [
          "object",
          "address",
          "display_name",
          "active",
          "created_at"
        ]
      },
      "CreateMailbox": {
        "type": "object",
        "properties": {
          "address": {
            "type": "string",
            "minLength": 3,
            "maxLength": 254
          },
          "display_name": {
            "type": "string",
            "maxLength": 255
          }
        },
        "required": [
          "address"
        ]
      },
      "MailboxList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "object": {
                  "type": "string",
                  "enum": [
                    "mailbox"
                  ]
                },
                "address": {
                  "type": "string"
                },
                "display_name": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "active": {
                  "type": "boolean"
                },
                "created_at": {
                  "type": "string"
                }
              },
              "required": [
                "object",
                "address",
                "display_name",
                "active",
                "created_at"
              ]
            }
          }
        },
        "required": [
          "data"
        ]
      }
    },
    "parameters": {}
  },
  "paths": {
    "/emails": {
      "post": {
        "summary": "Send an email",
        "description": "Queues a single message and returns its id immediately. The id is minted in the same transaction as the caller's own work, so a rollback never sends.",
        "tags": [
          "Emails"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendEmail"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The message was accepted.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SendEmailResponse"
                }
              }
            }
          },
          "401": {
            "description": "The API key is missing, malformed, or unknown.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "This key is restricted to other domains than the `from` address.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "The `template` named does not exist, or has no such version.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "This Idempotency-Key was already used with a different request body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "The request body failed validation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Sending too fast, or the daily quota is exhausted.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "501": {
            "description": "The send path is not configured.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/emails/batch": {
      "post": {
        "summary": "Send up to 100 emails",
        "description": "One response id per element, in the order submitted.",
        "tags": [
          "Emails"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchSend"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Every message was accepted.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchSendResponse"
                }
              }
            }
          },
          "401": {
            "description": "The API key is missing, malformed, or unknown.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "This key is restricted to other domains than the `from` address.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "The `template` named does not exist, or has no such version.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "This Idempotency-Key was already used with a different request body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "The request body failed validation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Sending too fast, or the daily quota is exhausted.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "501": {
            "description": "The send path is not configured.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/emails/{id}": {
      "get": {
        "summary": "Retrieve an email",
        "description": "The message as it was accepted, and how far it has got. `last_event` is the furthest state reached, so a bounce is visible even though the message was accepted successfully.",
        "tags": [
          "Emails"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "The message.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Email"
                }
              }
            }
          },
          "401": {
            "description": "The API key is missing, malformed, or unknown.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "No such message for this API key's tenant.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "`id` is not a uuid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "501": {
            "description": "The send path is not configured.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/webhook-endpoints": {
      "post": {
        "summary": "Create a webhook endpoint",
        "description": "Registers an https URL to receive events. The signing secret is returned here and never again - store it before you discard the response.",
        "tags": [
          "Webhooks"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateWebhookEndpoint"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created. `secret` is shown only in this response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookEndpointWithSecret"
                }
              }
            }
          },
          "401": {
            "description": "The API key is missing, malformed, or unknown.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "The URL or the event list is not acceptable.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "501": {
            "description": "Webhook endpoints are not configured.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "List webhook endpoints",
        "tags": [
          "Webhooks"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Every endpoint for this tenant. Secrets are never included.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookEndpointList"
                }
              }
            }
          },
          "401": {
            "description": "The API key is missing, malformed, or unknown.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "501": {
            "description": "Webhook endpoints are not configured.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/webhook-endpoints/{id}": {
      "delete": {
        "summary": "Delete a webhook endpoint",
        "description": "Deletes the endpoint and every delivery recorded against it. Pending deliveries stop; already-sent ones are not recalled.",
        "tags": [
          "Webhooks"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "enum": [
                        "webhook_endpoint"
                      ]
                    },
                    "id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "deleted": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    }
                  },
                  "required": [
                    "object",
                    "id",
                    "deleted"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "The API key is missing, malformed, or unknown.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "No such endpoint for this API key's tenant.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "501": {
            "description": "Webhook endpoints are not configured.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "Get a webhook endpoint",
        "tags": [
          "Webhooks"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "The endpoint. Never its secret, never its header values.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "enum": [
                        "webhook_endpoint"
                      ]
                    },
                    "id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "url": {
                      "type": "string",
                      "format": "uri"
                    },
                    "events": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "enum": [
                          "email.sent",
                          "email.delivered",
                          "email.delivery_delayed",
                          "email.bounced",
                          "email.complained",
                          "email.failed",
                          "email.opened",
                          "email.clicked",
                          "email.unsubscribed"
                        ]
                      }
                    },
                    "description": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "enabled": {
                      "type": "boolean"
                    },
                    "disabled_reason": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "created_at": {
                      "type": "string"
                    },
                    "signature_scheme": {
                      "type": "string",
                      "enum": [
                        "hmac_sha256",
                        "ed25519"
                      ]
                    },
                    "rate_limit": {
                      "type": [
                        "integer",
                        "null"
                      ]
                    },
                    "header_names": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "filter_domains": {
                      "type": [
                        "array",
                        "null"
                      ],
                      "items": {
                        "type": "string"
                      }
                    },
                    "filter_tags": {
                      "type": [
                        "object",
                        "null"
                      ],
                      "additionalProperties": {
                        "type": "string"
                      }
                    },
                    "public_key": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "previous_secrets": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "signature_scheme": {
                            "type": "string",
                            "enum": [
                              "hmac_sha256",
                              "ed25519"
                            ]
                          },
                          "expires_at": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "signature_scheme",
                          "expires_at"
                        ]
                      }
                    }
                  },
                  "required": [
                    "object",
                    "id",
                    "url",
                    "events",
                    "description",
                    "enabled",
                    "disabled_reason",
                    "created_at",
                    "signature_scheme",
                    "rate_limit",
                    "header_names",
                    "filter_domains",
                    "filter_tags",
                    "public_key",
                    "previous_secrets"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "The API key is missing, malformed, or unknown.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "No such endpoint for this API key's tenant.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "501": {
            "description": "Webhook endpoints are not configured.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Update a webhook endpoint",
        "description": "Change any of its settings; `null` clears one that can be cleared. A new `url` gets the same checks as a new endpoint. `enabled: false` pauses it and `true` resumes it, clearing why it was switched off. `headers` replaces the whole set.",
        "tags": [
          "Webhooks"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateWebhookEndpoint"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "enum": [
                        "webhook_endpoint"
                      ]
                    },
                    "id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "url": {
                      "type": "string",
                      "format": "uri"
                    },
                    "events": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "enum": [
                          "email.sent",
                          "email.delivered",
                          "email.delivery_delayed",
                          "email.bounced",
                          "email.complained",
                          "email.failed",
                          "email.opened",
                          "email.clicked",
                          "email.unsubscribed"
                        ]
                      }
                    },
                    "description": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "enabled": {
                      "type": "boolean"
                    },
                    "disabled_reason": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "created_at": {
                      "type": "string"
                    },
                    "signature_scheme": {
                      "type": "string",
                      "enum": [
                        "hmac_sha256",
                        "ed25519"
                      ]
                    },
                    "rate_limit": {
                      "type": [
                        "integer",
                        "null"
                      ]
                    },
                    "header_names": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "filter_domains": {
                      "type": [
                        "array",
                        "null"
                      ],
                      "items": {
[...]
