{
  "openapi": "3.1.0",
  "info": {
    "title": "i10 API",
    "version": "0.0.0",
    "description": "Transactional email. The document is generated from the same Zod schemas the server validates with and the SDKs are built from, so it cannot drift from the implementation."
  },
  "servers": [
    {
      "url": "https://api.i10.tech",
      "description": "Production"
    }
  ],
  "tags": [
    {
      "name": "Emails",
      "description": "Sending mail."
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Your i10 API key. Keys are prefixed `i10_live_` or `i10_test_` so they are recognisable in your own logs and greppable in a leak scan."
      },
      "sessionAuth": {
        "type": "apiKey",
        "in": "cookie",
        "name": "__session",
        "description": "The Clerk session cookie set when you sign in at auth.i10.tech. Used by the console for mailbox management; it is not an alternative to an API key, and the sending endpoints do not accept it."
      }
    },
    "schemas": {
      "SendEmailResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          }
        },
        "required": [
          "id"
        ]
      },
      "Error": {
        "type": "object",
        "properties": {
          "statusCode": {
            "type": "integer"
          },
          "name": {
            "type": "string",
            "enum": [
              "validation_error",
              "missing_required_field",
              "invalid_access",
              "not_found",
              "method_not_allowed",
              "rate_limit_exceeded",
              "daily_quota_exceeded",
              "invalid_from_address",
              "invalid_to_address",
              "domain_not_verified",
              "idempotency_conflict",
              "domain_already_exists",
              "domain_already_claimed",
              "plan_limit_exceeded",
              "password_required",
              "mailbox_already_exists",
              "internal_server_error"
            ]
          },
          "message": {
            "type": "string"
          }
        },
        "required": [
          "statusCode",
          "name",
          "message"
        ]
      },
      "SendEmail": {
        "type": "object",
        "properties": {
          "from": {
            "type": "string",
            "minLength": 3,
            "maxLength": 320
          },
          "to": {
            "anyOf": [
              {
                "type": "string",
                "minLength": 3,
                "maxLength": 320
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "minLength": 3,
                  "maxLength": 320
                },
                "minItems": 1,
                "maxItems": 50
              }
            ]
          },
          "subject": {
            "type": "string"
          },
          "bcc": {
            "anyOf": [
              {
                "type": "string",
                "minLength": 3,
                "maxLength": 320
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "minLength": 3,
                  "maxLength": 320
                },
                "minItems": 1,
                "maxItems": 50
              }
            ]
          },
          "cc": {
            "anyOf": [
              {
                "type": "string",
                "minLength": 3,
                "maxLength": 320
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "minLength": 3,
                  "maxLength": 320
                },
                "minItems": 1,
                "maxItems": 50
              }
            ]
          },
          "reply_to": {
            "anyOf": [
              {
                "type": "string",
                "minLength": 3,
                "maxLength": 320
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "minLength": 3,
                  "maxLength": 320
                },
                "minItems": 1,
                "maxItems": 50
              }
            ]
          },
          "html": {
            "type": "string"
          },
          "text": {
            "type": "string"
          },
          "headers": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "attachments": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "filename": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 255,
                  "pattern": "^[^\\r\\n\"]+$"
                },
                "content": {
                  "type": "string"
                },
                "path": {
                  "type": "string",
                  "format": "uri"
                },
                "content_type": {
                  "type": "string",
                  "maxLength": 255
                }
              },
              "required": [
                "filename"
              ]
            }
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "pattern": "^[A-Za-z0-9_-]{1,256}$"
                },
                "value": {
                  "type": "string",
                  "pattern": "^[A-Za-z0-9_-]{1,256}$"
                }
              },
              "required": [
                "name",
                "value"
              ]
            }
          },
          "scheduled_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "from",
          "to",
          "subject"
        ]
      },
      "BatchSendResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "required": [
                "id"
              ]
            }
          }
        },
        "required": [
          "data"
        ]
      },
      "BatchSend": {
        "type": "array",
        "items": {
          "type": "object",
          "properties": {
            "from": {
              "type": "string",
              "minLength": 3,
              "maxLength": 320
            },
            "to": {
              "anyOf": [
                {
                  "type": "string",
                  "minLength": 3,
                  "maxLength": 320
                },
                {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "minLength": 3,
                    "maxLength": 320
                  },
                  "minItems": 1,
                  "maxItems": 50
                }
              ]
            },
            "subject": {
              "type": "string"
            },
            "bcc": {
              "anyOf": [
                {
                  "type": "string",
                  "minLength": 3,
                  "maxLength": 320
                },
                {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "minLength": 3,
                    "maxLength": 320
                  },
                  "minItems": 1,
                  "maxItems": 50
                }
              ]
            },
            "cc": {
              "anyOf": [
                {
                  "type": "string",
                  "minLength": 3,
                  "maxLength": 320
                },
                {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "minLength": 3,
                    "maxLength": 320
                  },
                  "minItems": 1,
                  "maxItems": 50
                }
              ]
            },
            "reply_to": {
              "anyOf": [
                {
                  "type": "string",
                  "minLength": 3,
                  "maxLength": 320
                },
                {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "minLength": 3,
                    "maxLength": 320
                  },
                  "minItems": 1,
                  "maxItems": 50
                }
              ]
            },
            "html": {
              "type": "string"
            },
            "text": {
              "type": "string"
            },
            "headers": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            },
            "attachments": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "filename": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 255,
                    "pattern": "^[^\\r\\n\"]+$"
                  },
                  "content": {
                    "type": "string"
                  },
                  "path": {
                    "type": "string",
                    "format": "uri"
                  },
                  "content_type": {
                    "type": "string",
                    "maxLength": 255
                  }
                },
                "required": [
                  "filename"
                ]
              }
            },
            "tags": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "pattern": "^[A-Za-z0-9_-]{1,256}$"
                  },
                  "value": {
                    "type": "string",
                    "pattern": "^[A-Za-z0-9_-]{1,256}$"
                  }
                },
                "required": [
                  "name",
                  "value"
                ]
              }
            },
            "scheduled_at": {
              "type": "string",
              "format": "date-time"
            }
          },
          "required": [
            "from",
            "to",
            "subject"
          ]
        },
        "minItems": 1,
        "maxItems": 100
      },
      "Email": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "email"
            ]
          },
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "from": {
            "type": "string"
          },
          "to": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "cc": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "bcc": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "reply_to": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "subject": {
            "type": "string"
          },
          "html": {
            "type": [
              "string",
              "null"
            ]
          },
          "text": {
            "type": [
              "string",
              "null"
            ]
          },
          "created_at": {
            "type": "string"
          },
          "scheduled_at": {
            "type": [
              "string",
              "null"
            ]
          },
          "last_event": {
            "type": "string",
            "enum": [
              "queued",
              "scheduled",
              "sending",
              "sent",
              "delivered",
              "delivery_delayed",
              "bounced",
              "complained",
              "failed",
              "canceled"
            ]
          }
        },
        "required": [
          "object",
          "id",
          "from",
          "to",
          "cc",
          "bcc",
          "reply_to",
          "subject",
          "html",
          "text",
          "created_at",
          "scheduled_at",
          "last_event"
        ]
      },
      "WebhookEndpointWithSecret": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "webhook_endpoint"
            ]
          },
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "events": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "email.sent",
                "email.delivered",
                "email.delivery_delayed",
                "email.bounced",
                "email.complained",
                "email.failed"
              ]
            }
          },
          "description": {
            "type": [
              "string",
              "null"
            ]
          },
          "enabled": {
            "type": "boolean"
          },
          "created_at": {
            "type": "string"
          },
          "secret": {
            "type": "string"
          }
        },
        "required": [
          "object",
          "id",
          "url",
          "events",
          "description",
          "enabled",
          "created_at",
          "secret"
        ]
      },
      "CreateWebhookEndpoint": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "format": "uri"
          },
          "events": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "email.sent",
                "email.delivered",
                "email.delivery_delayed",
                "email.bounced",
                "email.complained",
                "email.failed"
              ]
            },
            "minItems": 1
          },
          "description": {
            "type": "string",
            "maxLength": 255
          }
        },
        "required": [
          "url",
          "events"
        ]
      },
      "WebhookEndpointList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "object": {
                  "type": "string",
                  "enum": [
                    "webhook_endpoint"
                  ]
                },
                "id": {
                  "type": "string",
                  "format": "uuid"
                },
                "url": {
                  "type": "string",
                  "format": "uri"
                },
                "events": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "enum": [
                      "email.sent",
                      "email.delivered",
                      "email.delivery_delayed",
                      "email.bounced",
                      "email.complained",
                      "email.failed"
                    ]
                  }
                },
                "description": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "enabled": {
                  "type": "boolean"
                },
                "created_at": {
                  "type": "string"
                }
              },
              "required": [
                "object",
                "id",
                "url",
                "events",
                "description",
                "enabled",
                "created_at"
              ]
            }
          }
        },
        "required": [
          "data"
        ]
      },
      "Domain": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "domain"
            ]
          },
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "not_started",
              "pending",
              "verified",
              "failed",
              "temporary_failure"
            ]
          },
          "created_at": {
            "type": "string"
          },
          "region": {
            "type": "string"
          },
          "records": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "record": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "type": {
                  "type": "string",
                  "enum": [
                    "MX",
                    "TXT",
                    "CNAME",
                    "NS"
                  ]
                },
                "ttl": {
                  "type": "string"
                },
                "status": {
                  "type": "string",
                  "enum": [
                    "not_started",
                    "pending",
                    "verified",
                    "failed",
                    "temporary_failure"
                  ]
                },
                "value": {
                  "type": "string"
                },
                "priority": {
                  "type": "integer"
                }
              },
              "required": [
                "record",
                "name",
                "type",
                "ttl",
                "status",
                "value"
              ]
            }
          },
          "delegated": {
            "type": "boolean"
          }
        },
        "required": [
          "object",
          "id",
          "name",
          "status",
          "created_at",
          "region",
          "records",
          "delegated"
        ]
      },
      "CreateDomain": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 253
          },
          "custom_return_path": {
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-z0-9]([a-z0-9-]*[a-z0-9])?$/i"
          },
          "region": {
            "type": "string"
          },
          "delegated": {
            "type": "boolean"
          }
        },
        "required": [
          "name"
        ]
      },
      "DomainList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "object": {
                  "type": "string",
                  "enum": [
                    "domain"
                  ]
                },
                "id": {
                  "type": "string",
                  "format": "uuid"
                },
                "name": {
                  "type": "string"
                },
                "status": {
                  "type": "string",
                  "enum": [
                    "not_started",
                    "pending",
                    "verified",
                    "failed",
                    "temporary_failure"
                  ]
                },
                "created_at": {
                  "type": "string"
                },
                "region": {
                  "type": "string"
                },
                "delegated": {
                  "type": "boolean"
                }
              },
              "required": [
                "object",
                "id",
                "name",
                "status",
                "created_at",
                "region",
                "delegated"
              ]
            }
          }
        },
        "required": [
          "data"
        ]
      },
      "DeletedDomain": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "domain"
            ]
          },
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "deleted": {
            "type": "boolean",
            "enum": [
              true
            ]
          }
        },
        "required": [
          "object",
          "id",
          "deleted"
        ]
      },
      "Mailbox": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "mailbox"
            ]
          },
          "address": {
            "type": "string"
          },
          "display_name": {
            "type": [
              "string",
              "null"
            ]
          },
          "active": {
            "type": "boolean"
          },
          "created_at": {
            "type": "string"
          }
        },
        "required": [
          "object",
          "address",
          "display_name",
          "active",
          "created_at"
        ]
      },
      "CreateMailbox": {
        "type": "object",
        "properties": {
          "address": {
            "type": "string",
            "minLength": 3,
            "maxLength": 254
          },
          "display_name": {
            "type": "string",
            "maxLength": 255
          }
        },
        "required": [
          "address"
        ]
      },
      "MailboxList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "object": {
                  "type": "string",
                  "enum": [
                    "mailbox"
                  ]
                },
                "address": {
                  "type": "string"
                },
                "display_name": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "active": {
                  "type": "boolean"
                },
                "created_at": {
                  "type": "string"
                }
              },
              "required": [
                "object",
                "address",
                "display_name",
                "active",
                "created_at"
              ]
            }
          }
        },
        "required": [
          "data"
        ]
      }
    },
    "parameters": {}
  },
  "paths": {
    "/emails": {
      "post": {
        "summary": "Send an email",
        "description": "Queues a single message and returns its id immediately. The id is minted in the same transaction as the caller's own work, so a rollback never sends.",
        "tags": [
          "Emails"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendEmail"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The message was accepted.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SendEmailResponse"
                }
              }
            }
          },
          "401": {
            "description": "The API key is missing, malformed, or unknown.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "This Idempotency-Key was already used with a different request body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "The request body failed validation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Sending too fast, or the daily quota is exhausted.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "501": {
            "description": "The send path is not configured.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/emails/batch": {
      "post": {
        "summary": "Send up to 100 emails",
        "description": "One response id per element, in the order submitted.",
        "tags": [
          "Emails"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchSend"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Every message was accepted.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchSendResponse"
                }
              }
            }
          },
          "401": {
            "description": "The API key is missing, malformed, or unknown.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "This Idempotency-Key was already used with a different request body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "The request body failed validation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Sending too fast, or the daily quota is exhausted.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "501": {
            "description": "The send path is not configured.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/emails/{id}": {
      "get": {
        "summary": "Retrieve an email",
        "description": "The message as it was accepted, and how far it has got. `last_event` is the furthest state reached, so a bounce is visible even though the message was accepted successfully.",
        "tags": [
          "Emails"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "The message.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Email"
                }
              }
            }
          },
          "401": {
            "description": "The API key is missing, malformed, or unknown.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "No such message for this API key's tenant.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "`id` is not a uuid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "501": {
            "description": "The send path is not configured.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/webhook-endpoints": {
      "post": {
        "summary": "Create a webhook endpoint",
        "description": "Registers an https URL to receive events. The signing secret is returned here and never again — store it before you discard the response.",
        "tags": [
          "Webhooks"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateWebhookEndpoint"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created. `secret` is shown only in this response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookEndpointWithSecret"
                }
              }
            }
          },
          "401": {
            "description": "The API key is missing, malformed, or unknown.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "The URL or the event list is not acceptable.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "501": {
            "description": "Webhook endpoints are not configured.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "List webhook endpoints",
        "tags": [
          "Webhooks"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Every endpoint for this tenant. Secrets are never included.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookEndpointList"
                }
              }
            }
          },
          "401": {
            "description": "The API key is missing, malformed, or unknown.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "501": {
            "description": "Webhook endpoints are not configured.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/webhook-endpoints/{id}": {
      "delete": {
        "summary": "Delete a webhook endpoint",
        "description": "Deletes the endpoint and every delivery recorded against it. Pending deliveries stop; already-sent ones are not recalled.",
        "tags": [
          "Webhooks"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "enum": [
                        "webhook_endpoint"
                      ]
                    },
                    "id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "deleted": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    }
                  },
                  "required": [
                    "object",
                    "id",
                    "deleted"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "The API key is missing, malformed, or unknown.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "No such endpoint for this API key's tenant.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "501": {
            "description": "Webhook endpoints are not configured.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/webhook-endpoints/{id}/rotate-secret": {
      "post": {
        "summary": "Rotate a webhook signing secret",
        "description": "Issues a new signing secret and returns it once. ⚠ The old secret stops working immediately — deliveries in flight are signed with whichever secret was current when they were signed, so update your receiver first or accept a short window of rejected deliveries.",
        "tags": [
          "Webhooks"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Rotated. `secret` is shown only in this response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookEndpointWithSecret"
                }
              }
            }
          },
          "401": {
            "description": "The API key is missing, malformed, or unknown.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "No such endpoint for this API key's tenant.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "501": {
            "description": "Webhook endpoints are not configured.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/domains": {
      "post": {
        "summary": "Create a domain",
        "description": "Claims a domain for sending and returns the DNS records to publish. The domain is unusable until those records exist and `POST /domains/{id}/verify` has confirmed them.",
        "tags": [
          "Domains"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDomain"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created, with the records to publish.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Domain"
                }
              }
            }
          },
          "401": {
            "description": "The API key is missing, malformed, or unknown.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The plan does not include another domain.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "That domain is already registered.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "The name is not a domain.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "501": {
            "description": "Domains are not configured.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "List domains",
        "description": "Summaries only. Fetch one domain to see its DNS records.",
        "tags": [
          "Domains"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Every domain this key's tenant owns, newest first.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DomainList"
                }
              }
            }
          },
          "401": {
            "description": "The API key is missing, malformed, or unknown.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "501": {
            "description": "Domains are not configured.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/domains/{id}": {
      "get": {
        "summary": "Retrieve a domain",
        "tags": [
          "Domains"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "The domain, with the records to publish.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Domain"
                }
              }
            }
          },
          "401": {
            "description": "The API key is missing, malformed, or unknown.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "No domain with that id.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "501": {
            "description": "Domains are not configured.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete a domain",
        "description": "Removes the domain and its sending identity. Mail already accepted is unaffected; nothing new can be sent from it afterwards.",
        "tags": [
          "Domains"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeletedDomain"
                }
              }
            }
          },
          "401": {
            "description": "The API key is missing, malformed, or unknown.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "No domain with that id.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "501": {
            "description": "Domains are not configured.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/domains/{id}/verify": {
      "post": {
        "summary": "Verify a domain",
        "description": "Asks the provider to re-check the DNS records. Verification is not instant: a `pending` answer means the records have not propagated yet, and `temporary_failure` means the lookup itself failed and is worth retrying — neither means the records are wrong.",
        "tags": [
          "Domains"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "The domain as it now stands.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Domain"
                }
              }
            }
          },
          "401": {
            "description": "The API key is missing, malformed, or unknown.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "No domain with that id.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Another workspace verified this domain first. A name may be held by any number of workspaces while it is pending, but only by one once ownership has been proved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "501": {
            "description": "Domains are not configured.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/mailboxes": {
      "post": {
        "summary": "Create your mailbox",
        "description": "Creates a mailbox for the signed-in user on a domain i10 hosts mail for. The account must have a password: mail clients sign in with it, so an account created through Google or an email link cannot hold a mailbox until one is set.",
        "tags": [
          "Mailboxes"
        ],
        "security": [
          {
            "sessionAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateMailbox"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created. The mailbox can receive mail and be signed in to.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Mailbox"
                }
              }
            }
          },
          "401": {
            "description": "Not signed in.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The plan does not include another mailbox.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "The account has no password, the address is taken, or the user already has a mailbox.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "The address is not one we can host.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "501": {
            "description": "Mailboxes are not configured.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "The session could not be verified.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "List your mailboxes",
        "tags": [
          "Mailboxes"
        ],
        "security": [
          {
            "sessionAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "The signed-in user's mailboxes. Empty if they have none.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MailboxList"
                }
              }
            }
          },
          "401": {
            "description": "Not signed in.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "501": {
            "description": "Mailboxes are not configured.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "The session could not be verified.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "webhooks": {}
}
